@import "./icons.css";

body {
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,SimSun,sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
}

.hide {
  display: none !important;
}

.dropzone {
  height: auto!important;
  line-height: 100px;
  text-align: center;
  border: 1px dashed #999;
  margin-bottom: 10px;
  .hint{
    img{
      width: 100%;
      max-height: 100px;
    }
    video{
      max-height: 400px;
    }
  }
}

.danger-link{
  color:#f50;
}

.yy-page{
  padding: 20px;
  audio::-webkit-media-controls-panel{
    background: #000;
  }
}

.fs-12 {
  font-size: 12px;
}

.fs-16 {
  font-size: 16px;
}

.fs-20{
  font-size: 20px;
}

.mb-10{
  margin-bottom: 10px;
}
.mt-10{
  margin-top: 10px;
}
.ml-10{
  margin-left:10px;
}

.section {
  padding: 20px 15px;

  .section-part {
    padding: 25px 15px;
    background-color: white;
    margin-top: 10px;
  }
}

.section-title {
  font-size: 22px;
  margin-bottom: 20px;
}

