$layoutHeaderHeight: 44px;
$layoutHeaderBg: #2db7f5;

.ant-breadcrumb a {
  color: #fff;
}

#logo {
  width: 50px;
}

#content {
  height: 100%;
}

.main-wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  &.folded {
    .layout-nav{
      width: 60px;
      .hide-title-fold {
        display: none;
      }
      #logo {
        margin-top: 10px;
        width: 20px;
      }
    }
    .layout-content{
      margin-left: 60px
    }

  }
  .layout-nav {
    z-index: 10;
    width: 150px;
    top: 0;
    bottom: 0;
    position: absolute;

    &::-webkit-scrollbar { 
      display: none; 
    }

    .menu-project-name {
      height: $layoutHeaderHeight;
      color: #fff;
    }
    .nav-link {
      white-space: pre-wrap;
    }
  }
  .layout-content {
    margin-left: 150px
  }
  .layout-header {
    position: relative;
    .layout-folder {
      position: absolute;
      top: 12px;
      left: 25px;
      font-size: 18px;
      color: #fff;
    }
    .layout-user {
      position: absolute;
      right: 10px;
      display: flex;
      align-items: center;
      height: 100%;
      .avatar {
        display: inline-block;
        border-radius: 80%;
        overflow: hidden;
        width: 30px;
        margin-right: 5px;
        img {
          width: 100%;
        }
      }

    }
  }

  .layout-breadcrumb {
    height: $layoutHeaderHeight;
    line-height: $layoutHeaderHeight;
    background: $layoutHeaderBg;
    padding: 0 60px;
    .ant-breadcrumb-link {
      color: #fff;
    }
  }
}

.ajax-loading {
  position: absolute;
  top: 10px;
  right: 200px;
  z-index: 10;
}

.loading-cover {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: RGBA(0, 0, 0, .4);
  z-index: 99999;
  .spinner {
    position: absolute;
    top: 50%;
    margin: -35px auto 0;
    text-align: center;
    width: 100%;
  }

  .spinner > div {
    width: 20px;
    height: 20px;
    background-color: #fff;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  }

  .spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0)
    }
    40% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes sk-bouncedelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
      transform: scale(0);
    }
    40% {
      -webkit-transform: scale(1.0);
      transform: scale(1.0);
    }
  }
}
